.deetz{
    z-index: 5;
    position: relative;
    right:0;
    left:0;
    /* bottom:170px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:7px 5px 7px 5px;
    text-align: center;
    color: azure;
    border:1px solid red;
    background-color: black;
    width:200px; 
    height:650px; 
    margin:15px 0 45px 0; 
}

.deetz1A{
    transform: translate(455px, 0);
    height:750px;
    width: 250px;
    transition: height 500ms ease-in 700ms, width 500ms ease-in 700ms, transform 650ms ease-in 700ms;
}

.deetz2A{
    transform: translate(-455px, 0);
    height:750px;
    width: 250px;
    transition: height 500ms ease-in 700ms, width 500ms ease-in 700ms, transform 650ms ease-in 700ms;
}
.gridA{
    opacity: 0;
    transition: all .5s linear .7s;
}
.battleA{
    opacity: 0;
    transition: all 300ms ease;
}
.goTimeA{
    height:250px;
    transition: all 500ms ease-in-out;
}


.canvas2{
    /* background-color: rgb(73, 73, 73); */
    z-index: 5;
    position: relative; 
    height:200px;
    width:200px;
    transform: scale(1.5) translate(3px, -2px)
}
.canvas2a{
    transform: scale(1.4) translate(0px, 15px);
    transition: all 500ms ease-in-out 700ms;
}
.canvas2bg{
    background-image:url('assets/img/demonSML.png');
}

.container{
    position: relative; 
    bottom:206px;
    height:200px;
    width:200px;
    /* border:chartreuse 2px solid; */
    overflow:hidden;
}

.canvas3{
    z-index: 5;
    position: relative; 
    height:200px;
    width:200px;
    transform: scale(1.4) translate(0px, -5px);
    
    background-size: cover;
}
.canvas3bg{
    background-image:url('assets/img/demonSML.png');
}
.canvas3a{
    transform: scale(1.4) translate(0px, 15px);
    transition: all 500ms ease-in-out 700ms;
}

.container3{
    /* background-color: rgb(73, 73, 73); */
    position: relative; 
    bottom:206px;
    height:200px;
    height:200px;
    width:200px;
    background-image:url('assets/img/boofa.png');
    background-size: cover;
    /* border:chartreuse 2px solid; */
    overflow:hidden;
}

.containerA{
    height:250px;
    width:250px;
    bottom:257;
    transition: all 500ms ease-in-out 700ms;
    }

    .deetsPanelBottom{
        position: relative;
        bottom:200px;

    }
    .deetsPanelBottomA{
        position: relative;
        bottom:250px;
        transform: translate(0px, 0px);
        transition: all 500ms ease-in-out 700ms
    }

   

    /* When the animation is finished, start again */

  
  /* @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  } */


      
  .potionFlashBlue{
    background-color: rgb(23, 162, 255);
    transform: scale(1.4);
    transition: background-color 900ms linear 0s;
    transition: transform 300s linear 0s;
    /* animation: shake 0.5s;  */
}
.potionFlashYellow{
    background-color: rgb(255, 218, 11);
    transform: scale(1.4);
    transition: background-color 900ms linear 0s;
    transition: transform 300s linear 0s;
    /* animation: shake 0.5s;  */
}
.potionFlashGreen{
    background-color: chartreuse;
    transform: scale(1.4);
    transition: background-color 900ms linear 0s;
    transition: transform 300s linear 0s;
    /* animation: shake 0.5s;  */
}
.potionFlashPurple{
    background-color: rgb(168, 8, 168);
    transform: scale(1.4);
    transition: background-color 900ms linear 0s;
    transition: transform 300s linear 0s;
    /* animation: shake 0.5s;  */
}
.redFlash{
    background-color: rgba(255, 0, 0, 0.705);
}

.newIMG{
    height:200px;
    width:200px;
    position: relative;
    bottom: 200px;
    z-index: 10;
    transform: rotate(0deg);
    
}

.boost{
    transform: scale(1.1) rotate(5deg);
    transition: transform linear;
}
.boost2{
    transform: scale(1.1) rotate(-5deg);
    transition: transform linear;
}
#canvasX,
#canvasY{
    width:220px;
    height:220px;
    z-index: 4;
    position: relative;
    bottom: 210px;
    right:10px;
}
}