body{
    background-color: black;
    background-size: 100%;
    max-height:1200px;
    font-family: 'Rajdhani', sans-serif;
    /* background-image: url('assets/img/dungeonBG6.png');
    background-size: 100% 120%; */
    background-image: url('assets/img/dungeonBG8.png');
    background-size: 100% 135%;
    /* zoom:80%; */
<<<<<<< HEAD
    /* padding-top: 35px; */
=======
    padding-top: 35px;
>>>>>>> cba0cb3f781948ecef2d5f0b7fbed52f3bcde4af
    
}

#allWrap{
    position: relative;
}
#wrapper{
<<<<<<< HEAD
    padding-top: 15px;
=======
>>>>>>> cba0cb3f781948ecef2d5f0b7fbed52f3bcde4af
    position: absolute;
    left: 220;
    z-index: 1;
    zoom:80%;
}
img{
    width:50px;
    height:50px;
    position: relative;
    /* margin: 1; */
}
/* .weaponFix{
    position: relative;
    bottom: 11px;
} */
.weaponFix{
    background-color: chartreuse;
    position: relative;
    bottom: 9px;
}

.disabled{
    pointer-events: none;
    opacity: 0.3;
}




.row{
 height:66px;
}
.hide{
    display:none;
}
.opaque{
    opacity: 0;
}


.flex2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
hr{
    margin:0;
}

#grid{
    display: block;
    z-index: 0;
    text-align: center;
    margin:20px;
    padding-top:7px; 
    padding-left:3px; 
    padding-right:3px; 
    /*background-image: url('assets/img/mov21.jpg');*/
    background-color: rgb(63, 10, 10);
    background-size: cover;
    border: rgb(255, 51, 0) 5px solid;
    display: block;
    height:865px;
    width:865px;
}
.grid{
    opacity: 1;
}

h5{
    font-size: 1rem;
    margin:0px;
}

#gridBod{
    display:flex;
    justify-content: center;
    align-items: center;
}
#mainMsg{
    height:0px;
}
.boom{
    line-height: 130px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 10rem;
    background-color: rgb(255, 0, 0);
    margin:0 auto;
    width:600px;
    position: relative;
    bottom:540px;
}
.power{
    vertical-align: middle;
    line-height: 600px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 253, 253);
    font-size: 5rem;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.693);
    
    margin:0 auto;
    width:600px;
    height:600px;
    position: relative;
    bottom:770px;
}
.battle{
    vertical-align: middle;
    border: 1px red solid;
    line-height: 600px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 253, 253);
    font-size: 5rem;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.693);
    opacity: 1;
    margin:0 auto;
    width:600px;
    height:600px;
    position: relative;
    bottom:800px;
}
.battleBack{
    background-size: cover;
    border: 1px red solid;
    opacity: 1;
    margin:0 auto;
    width:100%;
    height:100%;
    top:1px;
    right:1px;
    position: absolute;
    background-image: url('assets/img/exp1.png')
}
.boom2{
    padding:0px 0 10px 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    background-color: rgb(255, 0, 0);
    margin:0 auto;
    width:60%;
    position: relative;
    bottom:540px;
}

.deetsHead{
    font-family: 'Cute Font', cursive;
    height:45px;
    background-color: red;
    margin:0;
    color: whitesmoke;
    line-height: 48px;
    font-size: 3rem;
}
.goTime{
    margin:5px 0 5px 0;
    height:200px;
    background-color:lightslategray;
    /* border:1px solid lightslategray; */
}

/*//POSSIBLE CHANGE//*/
/* #playerImg1{ 
    margin:5px 0 5px 0;
    height:200px;
    background-color: rgb(34, 34, 34);
}
.goTime{
    margin:5px 0 5px 0;
    height:200px;
    width:200px;
    background-color: rgb(34, 34, 34);
} */


.goSpace{
    height:45px;
    font-size: 1.5rem;
}
.goSpace p{
    color: red;
    margin: 0;
    line-height: 45px;
    font-family: 'Rajdhani', sans-serif;
}
.stats{
    font-size: 1.2rem;
    margin:8px;
    font-family: 'Rajdhani', sans-serif;
}
.axe1{
    background-image: url('assets/img/faceOneAxe2.png');
    background-size: cover;
}
.goActive1{
    /* background-image: url('assets/img/angel.png'); */
    background-size: cover;
}
.inActive1{
    opacity: .3;
    /* background-image: url('assets/img/angel.png'); */
    background-size: cover;
}
.goActive2{
    /* background-image: url('assets/img/demon.png'); */
    background-size: cover;
}
.inActive2{
    opacity: .3;
    /* background-image: url('assets/img/demon.png'); */
    background-size: cover;
}
.oneActive {
    background-image: url('assets/img/angel.png');
    background-size: cover;
    border:1px  crimson solid;
}

.twoActive {
    background-image: url('assets/img/demon.png');
    background-size: cover;
    border:1px  crimson solid;
}

.col{
    box-sizing: border-box;
    min-width:60px;
    min-height:60px;
    display:inline-block;
    background-color: rgba(0, 0, 0, 0.97);
    border: rgb(243, 58, 12) 2px solid;
    border-radius: 0%;
    margin:3px;
}
.mine{
    /* border:3px pink solid; */
}
.rune1{
    background-image: url('assets/img/rune1.png');
    background-size: contain;
}
.rune2{
    background-image: url('assets/img/rune2.png');
    background-size: contain;
}
.rune3{
    background-image: url('assets/img/rune3.png');
    background-size: contain;
}
.weapon1{
    /* background-image: url('assets/img/potion5.png');
    background-size: contain; */
}
.weapon2{
    /* background-image: url('assets/img/potion4.png');
    background-size: contain; */
}
.weapon3{
    /* background-image: url('assets/img/potion3.png');
    background-size: contain; */
}
.weaponG{
    z-index: 5;
    opacity:0;
    transform: scale(10);
    transition: all 700ms linear;
}


.weapon4{
    /* background-image: url('assets/img/potion1.png');
    background-size: contain; */
}
.hex1{
    background-image: url('assets/img/hex1.png');
    background-size: contain;
}
/* .hex2{
    background-image: url('assets/img/hex2.png');
    background-size: contain;
} */
.powerup{
    
}

.hover{
    background-color: rgba(0, 0, 0, 0.66);
}

.possible{
    background-image: url('assets/img/angel.png');
    opacity: 0.5;
    background-size: cover;
    border: rgba(255, 255, 255, 0.534) 1px solid;
}
.possible2{
    background-image: url('assets/img/demon.png');
    opacity: 0.3;
    background-size: cover;
    border: rgba(255, 255, 255, 0.534) 1px solid;
}
.viable{
   /* border:2px rgb(0, 153, 255) solid; */
}
.adjacent{
    /*border:2px chartreuse solid;*/
}
.myTurn{
    background-color: rgb(250, 7, 7);
}
.red{
    background-color: darkred;
border:1px  crimson solid;
}
.noAccess{
    background-color: rgb(129, 21, 21);
    /* background-image: url('assets/img/x.png');
    background-size: cover; */
    border:4px rgb(0, 0, 0) solid;
    box-sizing: border-box;
    min-width:60px;
    min-height:60px;
    display:inline-block;
margin:3px;
}
#hexFlex,
#hexFlexB{
    margin:10px 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#hexFlex2,
#hexFlex4,
#hexFlexB2,
#hexFlexB4{    
    padding:10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#hexPanel,
#hexPanel2{
   position: relative;
   top:35px;
}
.hex{
    height:75px;
    width:75px;
    background-size: contain;
    /* border: 1px blue solid; */
}
.hex2{
    height:75px;
    width:75px;
    background-size: contain;
    opacity: 1;
    transform: scale(1)
    /* border: 1px blue solid; */
}
/* #hex1{
   background-image: url('assets/img/hex1.png') 
}
#hex2{
   background-image: url('assets/img/hex2.png') 
}
#hex3{
   background-image: url('assets/img/hex1.png') ;
}
#hex4{
   background-image: url('assets/img/hex1.png') 
}
#hex5{
   background-image: url('assets/img/hex2.png') 
}
#hex6{
   background-image: url('assets/img/hex1.png') ;
} */
.combatButt{
    margin: 5px;
    line-height: 30px;
    height:30px;
    width: 240px;
    border-radius: 2px;
    transition: all 0.2s linear;
}
.attack{
    color: white;
    background-color: red;
    cursor: pointer;
}
.block{
    background-color: lightslategray;
    cursor: pointer;
}
.disabled2{
    color: lightslategray;
    /* pointer-events: none; */
    background-color: rgb(224, 224, 224);
    transform: scale(1.03)
}
.bHover{
    transform: scale(1.02);
}
.boxShadow{
    box-shadow: inset 0 0 40px 10px rgb(11, 88, 255);
    transition: all 0.1s linear;
}

#go{
    cursor: crosshair;
    line-height: 25px;
    text-align: center;
    width:50px;
    height:25px;
    background-color: rgb(48, 3, 3);
    color: white;
    border:2px black solid;
}
#blo{
    cursor: crosshair;
    line-height: 25px;
    text-align: center;
    width:50px;
    height:25px;
    background-color: rgb(114, 22, 22);
    color: white;
    border:2px black solid;
}
#Flo{
    cursor: crosshair;
    line-height: 25px;
    text-align: center;
    width:50px;
    height:25px;
    background-color: rgb(167, 20, 20);
    color: white;
    border:2px black solid;
}
#mlo{
    cursor: crosshair;
    line-height: 25px;
    text-align: center;
    width:50px;
    height:25px;
    background-color: rgb(134, 15, 15);
    color: white;
    border:2px black solid;
}


.hx1{
    background-image: url('assets/img/hexes/hex1.png');
    background-size: contain;
    transition: transform .1s linear;
}
.hx1:hover{
    background-image: url('assets/img/hexes/hex1B.png');
    background-size: contain;
}
.hx2{
    background-image: url('assets/img/hexes/hex2.png');
    background-size: contain;
    transition: transform .1s linear;
}
.hx2:hover{
    background-image: url('assets/img/hexes/hex2B.png');
    background-size: contain;
}
.hx3{
    background-image: url('assets/img/hexes/hex3.png');
    background-size: contain;
    transition: transform .1s linear;
}
.hx3:hover{
    background-image: url('assets/img/hexes/hex3B.png');
    background-size: contain;
}
.hx4{
    background-image: url('assets/img/hexes/hex4.png');
    background-size: contain;
    transition: transform .1s linear;
}
.hx4:hover{
    background-image: url('assets/img/hexes/hex4B.png');
    background-size: contain;
}
.hx5{
    background-image: url('assets/img/hexes/hex5.png');
    background-size: contain;
    transition: transform .1s linear;
}
.hx5:hover{
    background-image: url('assets/img/hexes/hex5B.png');
    background-size: contain;
}
.hx6{
    background-image: url('assets/img/hexes/hex6.png');
    background-size: contain;
    transition: transform .1s linear;
}
.hx6:hover{
    background-image: url('assets/img/hexes/hex6B.png');
    background-size: contain;
}
.hx7{
    background-image: url('assets/img/hexes/hex7.png');
    background-size: contain;
    transition: transform .1s linear;
}
.hx7:hover{
    background-image: url('assets/img/hexes/hex7B.png');
    background-size: contain;
}
.hx8{
    background-image: url('assets/img/hexes/hex8.png');
    background-size: contain;
    transition: transform .1s linear;
}
.hx8:hover{
    background-image: url('assets/img/hexes/hex8b.png');
    background-size: contain;
}
.hHover{
    transform: scale(1.1);
}
.hHover2{
    transform: scale(1.25);
}
.hx9{
    background-image: url('assets/img/hexes/hex9.png');
    background-size: contain;
    transition: transform .1s linear;
}
.hx9:hover{
    background-image: url('assets/img/hexes/hex9B.png');
    background-size: contain;
}

#p1Log,
#p2Log{
    margin-top:5px;
    height: 240px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #131313; 
  }
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(75, 75, 75); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  #rules{
      z-index: 5;
      border:white 1px solid;
      height:752px;
      width:1120px;
      position: absolute;
      bottom:;
      left: 150px;
      background-image: url('assets/rules.png');
      background-size: contain;
  }

  #rulesGo{
    margin: 5px;
    line-height: 25px;
    height:25px;
    width: 110px;
    border-radius: 2px;
    transition: all 0.2s linear;
    background-color: red;
    color: aliceblue;
    text-align: center;
    position: relative;
    left: 995px;
    top: 715;
    cursor: pointer;
    transform: all .5s linear;
}
  #playAgain{
      z-index: 10;
    margin: 5px;
    line-height: 30px;
    height: 30px;
    width: 140px;
    border-radius: 2px;
    transition: all 0.2s linear;
    background-color: red;
    color: aliceblue;
    text-align: center;
    position: absolute;
    left: 690px;
    cursor: pointer;
    top: 720;
}

#rulesGo:hover{
    background-color: aliceblue;
    color: red;
    transform: scale(1.06)
}

.zero{
    opacity: 0;
    transition: all 600ms linear;
}
.one{
    opacity: 1;
    transition: all 600ms linear;
}

.rulesGoPulse{
    transform: scale(1.1);
    transform: all .5s linear;
}
#buttons{
    position: relative;
    bottom:100px;
    width:100px;
}